.input {
    text-align: center;
    padding: 3rem 0;
}

.inputField {
    /* height: 1.5rem; */
    font-size: 2rem;
    width: 7rem;
}

.btn {
    width: 4rem;
    height: 100%;
}

.sorting {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.elmt {
    display: inline-block;
    background-color: #71C0AE;
}

body {
    background-color: #EDEDED;
}