.input {
    text-align: center;
    padding: 3rem 0;
}

.inputField {
    font-size: 2rem;
    width: 7rem;
    text-align: center;
}

.btn, .btnSort {
    width: 6rem;
    height: 100%;
}

.sorting {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.elmt {
    display: inline-block;
    background-color: #31927D;
}

body {
    background-color: #EDEDED;
}